.ah-subtitle {
  font-size: 14px;
  margin: 0;
  margin-bottom: 18px;
  color: #6E8CA0;
}

.ah-margin {
  flex: 0 0 auto;
  width: 1px;
  height: 1px;
}

.margin {
  margin-left: 20px !important;
}

.activities-title {
  font-size: 14px;
  margin: 0;
  margin-bottom: 5px;
  color: #6E8CA0;
  text-transform: uppercase;
  font-family: 'rift-soft';
}

.activities-subtitle {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.subactivities {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
}

.activity {
  flex: 0 0 auto;
  margin-right: 20px;
}

.no-activity {
  flex: 0 0 auto;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  background-color: #F0F3F4;
  border-radius: 30px;
  border-style: dashed;
  border-width: 1px;
  border-color: #C8D1D3;
}

.activity-icon-container {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.activity-icon {
  width: 35px;
  height: 35px;
}

.activity-time {
  margin: 0;
  margin-top: 5px;
  color: #8D8C8C;
  font-size: 12px;
  text-align: center;
}
