.sc-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 25px;
  background-color: #344856;
}

.sc-close {
  width: 28px;
  height: 28px;
}

.sc-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #ffffff;
  text-align: center;
}

.sc-activities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.sc-activity-icon-container {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.sc-active {
  background-color: #D97D54;
}

.sc-activity-icon {
  width: 35px;
  height: 35px;
}

.sc-activity-name {
  text-align: center;
  margin: 0;
  margin-top: 5px;
  font-family: 'rift-soft';
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.sc-select-container {
  margin-bottom: 30px;
}

.sc-select-title {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 5px;
}

.sc-select {
  display: block;
  font-size: 14px;
  color: #6E8CA0;
  line-height: 1.3;
  padding: 20px;
  width: 100%;
  max-width: 100%;
  height: 56px;
  box-sizing: border-box;
  margin: 0;
  border-radius: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-repeat: no-repeat, repeat;
  background-position: right .0em top 50%, 0 0;
  border-width: 0px;
  background-size: 56px, 56px;
}

.sc-select::-ms-expand {
  display: none;
}

.sc-select:hover {
  border-color: #888;
}

.sc-select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}

.sc-select option {
  font-weight:normal;
}

.sc-button-container {
  margin-top: 80px;
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.sc-button {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-color: #87BCBF;
  background-color: Transparent;
}

.sc-button-disabled {
  background-color: #C8D1D3;
}

.sc-button-text {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 17px;
  font-family: 'rift-soft';
  color: #ffffff;
  margin: 0;
}

.sc-input-container {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: #ffffff;
}

.sc-input {
  flex: 1;
  margin: 0;
  padding: 18px;
  font-size: 14px;
  color: #6E8CA0;
}

.sc-input-date {
  flex: 1;
  margin: 0;
  padding: 16px;
  font-size: 14px;
  border-radius: 5px;
  border-width: 0px;
  color: #6E8CA0;
}

.sc-input-time {
  margin: 0;
  padding: 16px;
  font-size: 14px;
  border-radius: 5px;
  border-width: 0px;
  color: #6E8CA0;
}

.sc-input-search-container {
  height: 56px;
  width: 56px;
  border-radius: 0px 5px 5px 0px;
  background-color: #D97D54;
  display: flex;
  justify-content: center;
  align-items: center;
}
