.tr-full-background {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: blur(18px) brightness(75%) contrast(130%);
  transform: scale(1.1);
}

.tr-full {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 25px;
}

.tr-back {
  width: 20px;
  height: 20px;
}

.tr-content {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tr-ca {
  font-family: 'rift-soft';
  font-size: 14px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.tr-ca-name {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
}

.tr-activity-icon-container {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.tr-activity-icon {
  width: 35px;
  height: 35px;
}

.tr-time-container {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(225, 225, 225, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tr-time {
  font-family: 'rift-soft';
  font-size: 72px;
  color: #FFFFFF;
  margin: 0;
}

.tr-time-separator {
  width: 20px;
  margin: 0;
  margin-bottom: 10px;
}

.tr-subtime {
  font-family: 'rift-soft';
  font-size: 14px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: 0;
}

.tr-state {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 5px;
}

.tr-actions {
  display: flex;
  flex-direction: row;
}

.tr-action-divider {
  width: 10px;
}

.tr-action-container {
  margin-top: 25px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  background-color: rgba(225, 225, 225, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tr-stop {
  width: 25px;
  height: 25px;
  background-color: #FFFFFF;
}

.tr-play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 26px;
  border-color: transparent transparent transparent #FFFFFF;
}

.tr-pause-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tr-pause {
  width: 10px;
  height: 25px;
  background-color: #FFFFFF;
}

.tr-pause-divider {
  width: 5px;
  height: 25px;
}
