.card {
  flex: 0 0 auto;
  width: 136px;
  height: 182px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-right: 20px;
}

.card-image {
  width: 100%;
  z-index: -1;
}

.card-icon-container {
  position: absolute;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22.5px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  top: -22.5px;
}

.card-icon {
  width: 28px;
  height: 28px;
}

.card-content {
  padding-bottom: 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.card-title {
  margin-top: 10px;
  font-size: 14px;
  margin: 0;
  color: #334856;
}

.card-subtitle {
  font-family: 'rift-soft';
  font-size: 14px;
  margin: 0;
  color: #7D8184;
}
