.sa-title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 20px;
}

.sa-button-container {
  box-sizing: border-box;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.sa-button {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  background-color: #D97D54;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 0px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
}

.sa-button-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.sa-button-text {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 17px;
  font-family: 'rift-soft';
  color: #ffffff;
  margin: 0;
}
